<footer class="footer-section">
    <div class="footer-content">
      <div class="footer-left">
        <img src="assets/logo.jpg" alt="Good Boy Brews Logo" class="footer-logo">
        <p class="footer-text">© 2024 Good Boy Brews. All rights reserved.</p>
        <p class="footer-text">Joel Attard, Shahyar Fida, Mike Kraemer, Julia Lebedzeva</p>
      </div>
  
      <div class="footer-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <a href="#">Contact</a>
      </div>

    </div>
  </footer>
  