<div class="header-container">
    <img class="header-logo" src="assets/logo.jpg" alt="Logo" />
  
    <nav class="header-nav">
        <a routerLink="/" class="nav-item">Home</a>
      <a routerLink="/products" class="nav-item">Products</a>
      <a class="nav-item">Solutions</a>
      <a class="nav-item">Community</a>
      <a class="nav-item">Resources</a>
      <a class="nav-item">About Us</a>
      <a class="nav-item">Contact</a>
    </nav>
  
    <div class="auth-actions">
      <button class="btn btn-neutral"></button>
      <button class="btn btn-primary"></button>
    </div>
  </div>
  