<div class="header-container">
    <img class="header-logo" src="assets/logo.jpg" alt="Logo"/>

    <nav class="header-nav">
        <div class="nav-item active">Products</div>
        <div class="nav-item">Solutions</div>
        <div class="nav-item">Community</div>
        <div class="nav-item">Resources</div>
        <div class="nav-item">About Us</div>
        <div class="nav-item">Contact</div>
    </nav>

    <div class="auth-actions">
        <button class="btn btn-neutral"></button>
        <button class="btn btn-primary"></button>
    </div>
</div>
