html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    max-width: 100%; /* Prevents elements from overflowing */
  }
  